services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  orders-db:
    image: postgres:16
    environment:
      - POSTGRES_DB=orders
      - POSTGRES_USER=orders
      - POSTGRES_PASSWORD=orders
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U orders -d orders"]
      interval: 5s
      timeout: 3s
      retries: 20

  payments-db:
    image: postgres:16
    environment:
      - POSTGRES_DB=payments
      - POSTGRES_USER=payments
      - POSTGRES_PASSWORD=payments
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U payments -d payments"]
      interval: 5s
      timeout: 3s
      retries: 20

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    depends_on:
      - orders-service
      - payments-service
    ports:
      - "8080:8080"

  orders-service:
    build:
      context: .
      dockerfile: orders-service/Dockerfile
    depends_on:
      orders-db:
        condition: service_healthy
      kafka:
        condition: service_started
    ports:
      - "8081:8081"

  payments-service:
    build:
      context: .
      dockerfile: payments-service/Dockerfile
    depends_on:
      payments-db:
        condition: service_healthy
      kafka:
        condition: service_started
    ports:
      - "8082:8082"
